@charset "UTF-8";

:root {
    --cor0: #07AADB;
    --cor1: #5e2a00;
    --cor2: #36C2CC;
    --cor3: #58A8B0;
    --cor4: #446265;
    --cor5: #B8DBDE;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-android: 'Android', sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-image: url(violao-006.jpg);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.478);
    background-size: cover;
    background-attachment: fixed;
    
    

}

header {
    text-align: center;
    background-color: var(--cor1);
    padding: 10px;
    height: 125px;
    color: white;
}

header > h1 {
    color: white;
    
}

nav {
    text-align: left;
    text-decoration: none;
    padding: 10px;
    background-color: var(--cor1);
    
}

nav > a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

main > article {
    min-width: 200px;
    max-width: 650px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    color: black;
}

#dois {
    width: 100%;
    background-color: var(--cor1);
    height: 50px;
}

main > article > p {
    text-align: justify;
}

aside {
    min-width: 250px;
    max-width: 700px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    color: black;

}

div {
    text-align: center;
}

div > picture > img{
    width: 600px;
    height: 400px;
    text-align: center;
    padding: 13px;
    margin: auto;
}

img.imgtres {
    width: 400px;
    height: 300px;
}

iframe {
    padding: 10px;
}

footer {
    background-color: #042b33d0;
    color: white;
    text-align: center;
}