@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&display=swap');


@font-face {
    font-family: Osvaldo;
    src: url(Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: Lora;
    src: url(Lora-VariableFont_wght.ttf);
}


:root {
    --cor0: #CF6523;
    --cor1: #5e2a00;
    --cor2: #382417;
    --cor3: #6C5648;
    --cor4: #7A553D;
    --cor5: #B8DBDE;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-amais: 'Osvaldo', sans-serif;
    --fonte-parágrafo: 'Lora', sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-image: url(violao-006.jpg);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.478);
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--fonte-parágrafo);
}

header {
    text-align: center;
    background-image: linear-gradient(to top, #1b0d03, #7c370c);
    padding: 10px;
    height: 125px;
    color: white;
}

header > h1 {
    color: white;
    font-family: var(--fonte--amais);
    font-size:4.5em;
    
}

header > p {
    font-family: var(--fonte-parágrafo);
}

nav {
    text-align: left;
    text-decoration: none;
    padding: 10px;
    background-color: #1b0d03;
    
}

nav > a {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-decoration: none;
    font-family: var(--fonte--amais);
    font-size: 1.1em;
    color: #a87350;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor2);
    color: #a87350;
}

main > article {
    min-width: 200px;
    max-width: 650px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    color: black;
}

#dois {
    width: 100%;
    background-color: var(--cor1);
    height: 90px;
}

main > article > h2 {
    font-size: 2em;
    font-family: var(--fonte--titulo);
}

main > article > p {
    text-align: justify;
}

main.contato {
    background-color: #5e2a006c;
    width: 310px;
    font-size: 1.5em;
}

aside {
    min-width: 250px;
    max-width: 700px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    color: black;

}

div {
    text-align: center;
}

div > picture > img{
    width: 600px;
    height: 400px;
    text-align: center;
    padding: 13px;
    margin: auto;
}

picture {
    display: block;
    margin: auto;
    text-align: center;
}

img.imgtres {
    width: 400px;
    height: 300px;
}

iframe {
    padding: 10px;
}

nav > a.carreira:hover {
    background-color: var(--cor2);
    color: #ffffff;
}

#pg2 {
    background-color: var(--cor2);
}

#pg3 {
    background-color: var(--cor2);
}

#pg4 {
    background-color: var(--cor2);
}

#pg5 {
    background-color: var(--cor2);
}

p > a {
    text-decoration: none;
    color: white;
}

picture > img {
    padding: 26px;
}

.coluna {
    float: left;
    width: 33.33%;
}
    

.row::after {
        content: "";
        clear: both;
        display: table;
}
   

  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }

  div > img {
    padding: 25px;
    padding-bottom: 5px;
  }

footer {
    background-color: #042b33d0;
    color: white;
    text-align: center;
}